@model Storehouse.Model.Sliders


@using (Html.BeginForm("Add", "Sliders", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="panel panel-default">
        <div class="panel-heading"><div class="panel-title"><h4>@ViewBag.Title</h4></div></div>

        <div class="panel-body">
            @Html.ValidationSummary(true)
            <div class="control-group">
                @Html.LabelFor(model => model.Title)
                <div class="controls">
                    @Html.TextBoxFor(model => model.Title, new { @class = "form-control", @style = "width:50%" })
                    @Html.ValidationMessageFor(model => model.Title)
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(model => model.Subtitle)
                <div class="controls">
                    @Html.TextBoxFor(model => model.Subtitle, new { @class = "form-control", @style = "width:50%" })
                    @Html.ValidationMessageFor(model => model.Subtitle)
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <label title="lblImage">Slide Image</label>
                    <input type="file" name="sliderImage" id="sliderImage" accept='image/*' />
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <label title="lblImage">Slide Background</label>
                    <input type="file" name="sliderBackground" id="sliderBackground" accept='image/*' />
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.Url)
                <div class="controls">
                    @Html.EditorFor(model => model.Url, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Url)
                </div>
            </div>
<br />
            <div class="control-group">
                <div class="controls">
                    <a href="#saveChanges" data-toggle="modal" class="btn btn-default">Create </a>
                    @Html.ActionLink("Index", "Index")
                </div>
            </div>
        </div>
        <div class="modal" id="saveChanges">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to save this slider?</p>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="Yes" class="btn btn-default" />
                        <a href="#" data-dismiss="modal" class="btn">No</a>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dalog -->
        </div><!-- /.modal -->
    </div>
}


