@using Microsoft.AspNet.Identity
@model StorehouseAdmin.Models.ManageUserViewModel


<div class="panel-body">

    @using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        <div class="control-group">
            @Html.LabelFor(m => m.OldPassword)
            <div class="controls">
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", placeholder = "Enter Old Password" })
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(m => m.NewPassword)
            <div class="controls">
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = "Enter New Password" })
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(m => m.ConfirmPassword)
            <div class="controls">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm New Password" })
            </div>
        </div>
        <div class="control-group">
            <label></label>
            <div class="controls">
                <input type="submit" value="Change Password" class="btn btn-primary" />
            </div>
        </div>

    }
</div>