  @using (var context = new StorehouseAdmin.Models.StorehouseDBContext())
    {
        // Populate your users and store it in the ViewBag (or other storage)
        ViewBag.Users = context.Users.ToList();
    
        ViewBag.Title = "Manage Users";
    }
<div class="panel panel-default">
    <div class="panel-heading"><div class="panel-title"><h4>@ViewBag.Title</h4></div></div>
    <div class="panel-body">
        @Html.ActionLink("Register New User", "Register")
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var users in ViewBag.Users)
                    {
                        <tr>
                            <td>@users.UserName</td>
                            <td>
                                <a href="#@users.Id" data-toggle="modal">Delete</a><br />
                                <div class="modal" id="@users.Id">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Are you sure you want to delete this user?</p>
                                            </div>
                                            <div class="modal-footer">
                                                <a href="@(Url.Action("DeleteUser", "Account", new { id = users.Id }))" class="btn btn-primary">Yes</a>
                                                <a href="#" data-dismiss="modal" class="btn">No</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }

                </tbody>
                </table>
            </div>
        </div>
    </div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
